:root {
  /* Color scheme from www.awwwards.com <3 */
  --awww-white: #f4f7f6;
  --awww-black: #202121;
  --awww-bluegreen: #49c5b6;
  --awww-yellow: #fef7c0;
  --awww-grey: #a6abab;
  --awww-dark-grey: #707070;
  /* Font stacks */
  --font-headings: 'Helvetica', sans-serif;
  --font-body: 'Times New Roman', serif;

  /* Base Font, this variable gets updated in the media queries */
  --font-size: 16px;
}

a {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--awww-white);
  /* background: var(--awww-bluegreen, red);
  background: linear-gradient(var(--awww-white), var(--awww-dark-grey)); */
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  color: var(--awww-black);
  font-family: var(--font-headings);
  /* Huh? */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}

h1 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 0;
}

img {
  width: 100%;
  /* Remove whitespace at the bottom, between <img> and closing </a> */
  margin-bottom: -5px;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(.5px) grayscale(60%);
  transition: .5s ease-in-out;
}

figure:hover {
  filter: blur(0) grayscale(0);
}

/* Elements need to be hidden to be more in line with mockup,
  ficaptions are inserted inte the jQuery plugin 'lightbox' own caption data attribute,
  but i want figcaptions for accessibility reasons, and the same goes for the heading,
  now screen readers can read out the information */

.hidden {
  /* Visually hide this content */
  /* Code from Jonathan Snook: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility  */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.grid {
  max-width: 1000px;
  padding: 20px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
}

.form {
  grid-column: 1 / -1;
  display: flex;
}

input {
  padding: 20px;
  width: 100%;
}

/*
Footer
============================== */
footer {
  text-align: center;
}

/* TODO: Remove before submit */
body::before {
  content: "media small devices (phones)"
}

/* Grid 3 columns */
@media (min-width: 670px) {

    /* WHOA! */
  :root {
    --font-size: 18px;
  }

  body::before {
    content: "media min-width: 670px"
  }

  header {
    font-size: 1.5rem;
  }

  .form {
    font-size: 1.5rem;
    justify-content: center;
  }

  input {
    width: 50%;
  }
}

/* Grid snaps to 4 */
@media (min-width: 885px) {

  :root {
    --font-size: 20px;
  }

  /* TODO: Remove before submit */
  body::before {
    content: "media min-width: 885px"
  }
  img {
    max-width: 100%;
  }
}

/* TODO: Is "screen and" needed? */
  @media screen and (min-width: 1200px) {

  :root {
    --font-size: 22px;
  }

  /* TODO: Remove before submit */
  body::before {
    content: "media min-width: 1200px"
  }

  header {
    font-size: 2rem;
  }
}


/* Lightbox CSS */

/* Lightbox captions */
.lb-data .lb-caption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1em;
}

.lb-data .lb-details {
  width: 100%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* Grid 3 columns */
@media (min-width: 670px) {
  .lb-data .lb-details {
    margin-top: 20px;
    margin-left: 40px;
    width: 70%;
    float: left;
    text-align: left;
    line-height: 1.1em;
  }
}

/* Lightbox arrows */
.lb-nav a.lb-next {
  width: 64%;
  right: -100px;
  position: absolute;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: -100px;
  position: absolute;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}