:root {
  /* Color scheme from www.awwwards.com <3 */
  --awww-white: #f4f7f6;
  --awww-black: #202121;
  --awww-bluegreen: #49c5b6;
  --awww-yellow: #fef7c0;
  --awww-grey: #a6abab;
  --awww-dark-grey: #707070;

  /* Font stacks */
  --font-headings: 'Helvetica', sans-serif;
  --font-body: 'Times New Roman', serif;

  /* Base Font, this variable gets updated in the media queries */
  --font-size: 16px;
}

a {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--awww-white);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  color: var(--awww-black);
  font-family: var(--font-headings);
}

h1 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 0;
}

img {
  width: 100%;
  /* Remove whitespace at the bottom, between <img> and closing </a> */
  margin-bottom: -5px;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: .5s ease-in-out;
}

figure:hover {
  box-shadow: var(--awww-dark-grey) 0 0 20px;
}

/* Elements need to be hidden to be more in line with mockup,
  figcaptions are inserted into the jQuery plugin 'lightbox' own caption data attribute,
  but i want figcaptions for accessibility reasons, and the same goes for the heading,
  now screen readers can read out the information */

.hidden {
  /* Visually hide this content */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.grid {
  max-width: 1000px;
  padding: 20px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
}

.form {
  grid-column: 1 / -1;
  display: flex;
}

input {
  padding: 20px;
  width: 100%;
  transition: background-color .5s ease-in-out;
}

/* Fix rounded corners in Safari */
input[type="search"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0px none transparent;
}

input:focus {
  outline: 2px solid var(--awww-dark-grey);
  box-shadow: var(--awww-dark-grey)  0 0 20px;
  background-color: #fff;
}

/*
Footer
============================== */
footer {
  text-align: center;
}

/* TODO: Remove before submit */
body::before {
  content: "media small devices (phones)"
}

/* Grid 3 columns */
@media (min-width: 670px) {

    /* WHOA! */
  :root {
    --font-size: 18px;
  }

  body::before {
    content: "media min-width: 670px"
  }

  header {
    font-size: 1.5rem;
  }

  .form {
    font-size: 1.5rem;
    justify-content: center;
  }

}

/* Grid snaps to 4 */
@media (min-width: 885px) {

  :root {
    --font-size: 20px;
  }

  /* TODO: Remove before submit */
  body::before {
    content: "media min-width: 885px"
  }
  img {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  :root {
    --font-size: 22px;
  }

  /* TODO: Remove before submit */
  body::before {
    content: "media min-width: 1200px"
  }

  header {
    font-size: 2rem;
  }
}